@use '@/styles/foundations/_variables.scss' as var;

.container {
  position: relative;
  width: 250px;
  background-color: var.$baseBgColor;
  color: var.$baseColor;
  text-align: center;
  padding: 16px;

  .header {
    font-size: 1.8rem;
  }

  .warning {
    font-size: 0.9rem;
    margin-top: 8px;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    .btn {
      cursor: pointer;
      height: 40px;
      padding: 0 16px;
      background-color: var.$primary;
      border-radius: 4px;
      font-size: 0.9rem;
      font-weight: bold;
      letter-spacing: 1px;
      transition: background-color 0.5s;

      &:first-child {
        margin-right: 16px;
      }

      &:hover {
        background-color: var.$primaryHover;
      }

      &:active {
        background-color: var.$primaryActive;
      }
    }
  }
}
